# =========================
# CODEIGNITER 4
# =========================

/writable/cache/*
!/writable/cache/index.html

/writable/debugbar/*
!/writable/debugbar/index.html

/writable/logs/*
!/writable/logs/index.html

/writable/session/*
!/writable/session/index.html

/writable/uploads/*
!/writable/uploads/index.html

# Environment
.env
.env.*

# Composer
/vendor/

# Node
/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
src/.env
src/ writable/*